body{
    background-color: #007Aff !important;

}

.container{
    min-height: 100vh;
    background-color: #007Aff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer{
    border-top: 1px solid rgba(0,0,0,0.4);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;

}

.quiz-card{
    width: 30rem;
}


.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.08);

}

.bg-success, .bg-danger {
    color: white;
}

.width-100{
    width: 100%;
}

.text-center {
    text-align: center;
}

.progress-bar { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #212529 !important;
    text-align: center;
    white-space: nowrap;
    background-color: #159e0c !important;
    transition: width .6s ease;
}

.progress {
    display: flex;
    height: 1.5rem !important;
    overflow: hidden;
    font-size: 0.99rem !important;
    background-color: #09ffc6 !important;
    border-radius: 0rem !important;
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

